@import "config.scss";

.flokkar {
  display: flex;
  justify-content: space-evenly;

  &__html--hidden {
    display: none;
  }

  &__htmlGreen {
    background-color: $color-graenn1;
    border-color: $color-graenn1;

    &:hover {
      background-color: $color-graenn2;
      border-color: $color-graenn2;
    }
  }

  &__htmlGreen--hidden {
    display: none;
  }

  &__css--hidden {
    display: none;
  }

  &__cssGreen {
    background-color: $color-graenn1;
    border-color: $color-graenn1;

    &:hover {
      background-color: $color-graenn2;
      border-color: $color-graenn2;
    }
  }

  &__cssGreen--hidden {
    display: none;
  }

  &__javascript--hidden {
    display: none;
  }

  &__javascriptGreen {
    background-color: $color-graenn1;
    border-color: $color-graenn1;

    &:hover {
      background-color: $color-graenn2;
      border-color: $color-graenn2;
    }
  }

  &__javascriptGreen--hidden {
    display: none;
  }
}

button {
  padding: $gutter/2;
  margin-bottom: $gutter;
  font-family: $font-heading;
  font-size: 24px;
  font-weight: bold;
  background-color: $color-grar1;
  border: $color-grar1;
  border-radius: 10px;
  transition: background-color $transition;

  &:hover { /* stylelint-disable-line */
    background-color: $color-grar3;
    border-color: $color-grar3;
  }
}

.fyrirlestur {
  @media (min-width: 500px) {
    @include columns(6);
    display: flex;
    margin-right: 5px;
    margin-left: -5px;
    flex-direction: column;
  }
  @media (min-width: 900px) {
    @include columns(4);
  }

  &__text {
    position: relative;
    display: flex;
    padding-top: $gutter;
    padding-bottom: 0.5*$gutter;
    padding-left: 0.5*$gutter;
    margin-bottom: 2*$gutter;
    font-size: 14px;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color-grar1;
    @include columns(12);
  }

  &__titlecat {
    display: flex;
    flex-direction: column;
  }
}

.list {
  @media (min-width: 500px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.check {
  font-size: 32px;
  font-weight: bold;
  color: $color-graenn1;
}

.category {
  font-family: $font-heading;
  font-size: 12px;
  text-transform: uppercase;
}

a { /* stylelint-disable-line */
  font-family: $font-heading;
  color: $color-svartur;
  text-decoration: none;
}

.thumbnail {
  padding-right: 0px; /* stylelint-disable-line */
  padding-left: 0px; /* stylelint-disable-line */
}

.greydiv {
  background-color: $color-grar1;
  @media (min-width: 500px) {
    padding-top: 60%;
    background-color: $color-grar1;
  }
}

.fyrirlestur:nth-of-type(8) {
  .fyrirlestur__text {
    @media (max-width: 1036px) {
      padding-top: 0;
    }
    @media (max-width: 900px) {
      padding-top: $gutter;
    }
    @media (max-width: 707px) {
      padding-top: 0;
    }
    @media (max-width: 606px) {
      padding-top: $gutter;
    }
  }
}
