@import "config";
@import "fyrirlestrar.scss";
@import "forsida.scss";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-main;
  font-size: 16px;
}

main {
  max-width: 1200px;
  @include columns(12);
  margin: 0 auto;
}

img { /* stylelint-disable-line */
  @include columns(12);
}

header { /* stylelint-disable-line */
  position: relative;
  width: 100%;
  margin-bottom: 2*$gutter;
  font-family: $font-heading;
}

.header__h2 {
  font-size: 24px;
  text-transform: uppercase;
}

.header__h1 {
  font-size: 48px;
}

.protection {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.header__title {
  position: absolute;
  bottom: 35%;
  z-index: 2;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  &:nth-child(2) {
    font-size: 24px;
  }
}

.heading {
  padding-top: $gutter;
  padding-bottom: $gutter/2;
  margin-left: $gutter/2;
  font-family: $font-heading;
  font-size: 24;
}
